name: Install SUSE Observability Agent

on:
  workflow_dispatch:
    inputs:
      ClusterName:
        description: "Cluster Name"
        required: true
      API_Key:
        description: "Service token from Stackstate cluster"
        required: true
      StackState_URL:
        description: "Stackstate cluster URL e.g. https://example.stackstate.io/receiver/stsAgent"
        required: true
jobs:
  install-agent:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use action to install SUSE Observability Agent
        uses: ./.action.yaml
        with:
          API_Key: ${{ secrets.stackstate_API_KEY }}
          ClusterName: ${{ inputs.ClusterName }}
          StackState_URL: ${{ inputs.StackState_URL}}
          Namespace: "suse-observability"
          HelmRepo: "https://charts.rancher.com/server-charts/prime/suse-observability"    
          ChartName: "suse-observability/suse-observability-agent"    
