name: Install SUSE Observability Agent

on:
  workflow_dispatch:
  push:
    inputs:
      ClusterName:
        description: "Cluster Name"
        required: true
      API_Key:
        description: "Service token from Stackstate cluster"
        required: true
      StackState_URL:
        description: "Stackstate cluster URL e.g. https://example.stackstate.io/receiver/stsAgent"
        required: true
      
jobs:
  install-agent:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup kubectl (for the workflow) and show contexts
        uses: azure/setup-kubectl@v3
        with:
          version: 'latest'

      - name: Ensure helm is available in the workflow (optional, action will also setup helm)
        uses: azure/setup-helm@v3
        with:
          version: 'latest'
      

      - name: Use action to install SUSE Observability Agent
        uses: .
        with:
          API_Key: ${{ secrets.stackstate_API_KEY }}
          ClusterName: ${{ inputs.ClusterName }}
          StackState_URL: ${{ inputs.StackState_URL}}
          Namespace: "suse-observability"  
